<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="python" 
                  arguments="-m streamlit run webapp/app.py --server.port %HTTP_PLATFORM_PORT% --server.address 0.0.0.0"
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\python.log" 
                  startupTimeLimit="60" 
                  requestTimeout="00:04:00">
      <environmentVariables>
        <environmentVariable name="STREAMLIT_SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="STREAMLIT_SERVER_ADDRESS" value="0.0.0.0" />
        <environmentVariable name="STREAMLIT_BROWSER_GATHER_USAGE_STATS" value="false" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>